<div class="contenedor">
  <h1>Nuestra Colección de Videojuegos</h1>

  <div class="formulario">
    <input type="text" [(ngModel)]="nuevoJuego['título']" placeholder="Título del juego (ej: Hogwarts Legacy)" />
    <input type="text" [(ngModel)]="nuevoJuego['género']" placeholder="Género (ej: RPG / Acción)" />
    <button (click)="agregarVideojuego()">Añadir Juego</button>
  </div>

  <p *ngIf="listJuegos.length === 0">No hay videojuegos registrados en el sistema...</p>

  <ul *ngIf="listJuegos.length > 0">
    <li *ngFor="let juego of listJuegos">
      <div class="info-juego">
        <strong>{{ getTitulo(juego) }}</strong>
        <span>{{ getGenero(juego) }}</span>
      </div>
      <button class="btn-eliminar" (click)="eliminarVideojuego(juego['id'])">✕</button>
    </li>
  </ul>
</div>